<footer>
  <div class="company">
    <h6>Village</h6>
    <p>© <%= Time.now.year %> Village. Made with ♥ by <a href="https://launchpadlab.com?utm_source=side_product&amp;utm_campaign=village" target="_blank">LaunchPad Lab.</a></p>
  </div>
  <div class="footer-nav">
    <nav class="footer-menu">
      <ul>
        <li><a href="#about" class="scroll-link">About</a></li>
        <li><a href="#why" class="scroll-link">Why</a></li>
        <li><a href="#how-it-works" class="scroll-link">How it Works</a></li>
        <li><a href="#pricing" class="scroll-link">Pricing</a></li>
        <li><a href="#contact" class="scroll-link">Contact</a></li>
      </ul>
    </nav>
    <ul class="social-media">
      <!-- <li><a href="" target="_blank"><i class="email-small"></i></a></li> -->
      <li><a href="https://twitter.com/getvillage" target="_blank"><i class="twitter-small"></i></a></li>
    </ul>
  </div>
</footer>
