<header class="navigation">
  <h5 class="logo"><a href="/">Village</a></h5>
  <nav class="navigation-menu">
    <ul>
      <li><a href="#about" class="scroll-link">About</a></li>
      <li><a href="#why" class="scroll-link">Why</a></li>
      <li><a href="#how-it-works" class="scroll-link">How it Works</a></li>
      <li><a href="#pricing" class="scroll-link">Pricing</a></li>
      <li><a href="#contact" class="scroll-link">Contact</a></li>
    </ul>
  </nav>
</header>

