/*-----------------------
Footer
-----------------------*/
footer{
  display: inline-block;
  @include rem(padding, 20px 20px 10px);
  text-align: center;
  width: 100%;
  border-top: 1px solid lighten($white-med, 5%);

  p{ @include s-tiny; }
}

.company{
  @include media($tablet-landscape){
    float: left;
    @include rem(margin-top, 8px);
  }

  h6, p{
    color: $grey-base;

    @include media($tablet-landscape){
      display: inline-block;
    }
  }

  h6{
    &:after{
      content: "EARLY ACCESS";
      font-size: 10px;
      @include rem(margin-left, 5px);
      vertical-align: 5px;
    }
  }

  p{
    &:before{
      @include media($tablet-landscape){
        content: "|";
        display: inline-block;
        @include rem(margin-left, 10px);
        @include rem(padding-right, 10px);
      }
    }

    a{
      color: $grey-base;
      font-weight: normal;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.footer-nav{

  @include media($tablet-landscape){
    float: right;
  }

  a{
    color: $grey-base;
    @include s-small;
  }
}

.footer-menu{
  @include rem(margin, 20px 0px 10px);

  @include media($tablet-landscape){
    @include rem(margin, 0px);
  }

  li{
    @include media($tablet){
      display: inline-block;
      @include rem(margin, 0px 15px);
    }
  }

  @include media($tablet-landscape) {
    display: inline-block;
  }
}

/*-----------------------
Social Media
-----------------------*/
.social-media{

  @include media($tablet-landscape){
    display: inline-block;
  }

  li{
    display: inline-block;
    @include transition(all 0.3s ease-in-out);
    opacity: 0.3;
    width: inherit;

    &:hover{
      opacity: 0.6;
    }

    @include media($tablet){
      @include rem(margin, 0px 5px);
    }
  }
}
