// Form Styles Stylesheet
// ========================================

// Labels
label{
  //@include font-type($secondary-sans-serif-bold, normal, 700);
  //@include rem(margin, 20px 0 4px);
  @include s-base;
  @include rem(margin-bottom, 8px);
  //display: block;
  display: inline-block;
  //text-transform: uppercase;
}

// Inputs
#{$all-text-inputs},
select,
textarea{
  @include appearance(none);
  background-color: $blue-light;
  //@include font-type($secondary-sans-serif-reg, normal, 300);
  //@include placeholder{ font-style: italic; }
  @include transition(all 0.3s ease-in-out);
  @include s-base;
  border: none;
  border-radius: 1px;
  box-sizing: border-box;
  height: 55px;
  padding: 8px 15px;
  width: 100%;
  -webkit-font-smoothing: antialiased;

  &:focus{
    border-color: $blue-base;
    outline: none;
    background-color: darken($blue-light, 5%);
  }
}

textarea,
textarea[type="text"]{ height: 100px; @include rem(margin-bottom, 12px); }

input[type="submit"]{
  @include s-small;
  border: none;
  @include button;
  min-width: 0px;

  &:hover{ cursor: pointer; }
}

.field{
  @include rem(margin-top, 20px);
}