---
title: Village
---

<header class="about-header page-header">
  <div class="header-village-container">
    <div class="header-text">
      <div class="app-shots">
        <img src="/images/phone.png" alt="" class="phone">
        <img src="/images/tablet.png" alt="" class="tablet">
      </div>
      <div class="text-block">
        <h1>Saving for your child’s future takes a village</h1>
        <div class="call-to-action">
          <a href="#contact" class="button-primary scroll-link">Start Saving</a>
          <a href="#about" class="button-secondary scroll-link">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="about" class="about-village-container">
  <div class="text-block">
    <p>Saving for the future is stressful. And it’s not just college. It’s sports leagues, dance classes, that first car, vacations. The list goes on. Village allows your family and friends to support these savings goals by gifting towards these experiences for your children.</p>
  </div>
</section>

<section id="why" class="why-village-container">
  <div class="about-block">
    <img src="/images/experiences.svg" alt="">
    <h3>Afford experiences</h3>
    <p>Museum memberships. Sports Leagues. Classes. Vacations. These are the things your kids will remember and cherish. But they are expensive. Village finally helps you afford those experiences, but allowing your friends and family to contribute.</p>
  </div>
  <div class="about-block">
    <img src="/images/reduce-clutter.svg" alt="">
    <h3>Reduce clutter</h3>
    <p>Did you know the average 10-year-old has 238 toys, but plays with just 12 of them daily? Most of these toys are collected as gifts from birthday parties. Village offers an alternative gift option to help reduce clutter and waste.</p>
  </div>
  <div class="about-block">
    <img src="/images/habits.svg" alt="">
    <h3>Teach good habits</h3>
    <p>Nearly half of Americans do not save any money and do not feel prepared for the unexpected. These habits will not change, and will pass on to the next generation, unless we take action today. Village offers content and games to help parents and kids learn financial responsibility, together. <span>Coming soon</span></p>
  </div>
</section>

<section id="how-it-works" class="how-it-works-village-wrapper">
  <div class="how-village-container">
    <div class="section-header">
      <h2>So how does it work?</h2>
      <p>Create goals, link your investment account, and start collecting.</p>
    </div>
    <div class="how-block">
      <img src="/images/goals.svg" class="wow animated" alt="Create different goals">
      <div class="text-block">
        <h3>Short term and long term goals</h3>
        <p>There are all sorts of expenses and experiences you want to save for. From the art class your child wants to take this summer, to that day when you hand your child the keys to their first car. We know all goals are not created equal, so we support dreams both big and small.</p>
      </div>
    </div>
    <div class="how-block">
      <img src="/images/collecting.svg" class="wow animated" alt="Collect for experiences">
      <div class="text-block">
        <h3>Start collecting</h3>
        <p>Letting your family and friends know how they can help can be awkward. By letting them see your savings goals, and allowing to them add directly towards those, Village helps you avoid those uncomfortable conversations. You will be a given your own URL, which you can include on invitations, to share with friends and family.</p>
      </div>
    </div>
    <div class="how-block">
      <img src="/images/gifters-experience.svg" class="wow animated" alt="Invest funds">
      <div class="text-block">
        <h3>The gifter's experience</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut ex suscipit, imperdiet justo quis, volutpat ipsum. Nunc mollis tortor scelerisque tellus aliquet, pretium convallis eros iaculis. Nunc mollis tortor scelerisque tellus aliquet, pretium convallis eros iaculis.</p>
      </div>
    </div>
    <div class="how-block">
      <img src="/images/account.svg" class="wow animated" alt="Link account and widthdrawl">
      <div class="text-block">
        <h3>Link accounts and withdrawl</h3>
        <p>We currently support direct gift deposits to your Fidelity and Vanguard investment accounts. We believe that gifts should grow over time, and we can help with setting up your investments with your child’s best interest in mind.</p>
      </div>
    </div>
  </div>
</section>

<section id="pricing" class="pricing-village-wrapper">
  <div class="pricing-village-container">
    <h2>You don’t need to break the bank</h2>
    <div class="price-area">
      <div class="pricing-block">
        <div class="price-block">
          <p class="charged">Monthly</p>
          <div class="price">
            <h2>$2</h2>
            <p>per child</p>
          </div>
        </div>
        <div class="price-block">
          <p class="charged">Annually</p>
          <div class="price">
            <h2>$20</h2>
            <p>per child</p>
          </div>
        </div>
      </div>
      <div class="text-block">
        <ul>
          <li><img src="/images/checkmark.svg" class="wow animated" alt="Link account and widthdrawl"><p>Unlimited withdrawals and deposits</p></li>
          <li><img src="/images/checkmark.svg" class="wow animated" alt="Link account and widthdrawl"><p>Custom gifting link to send to friends and family</p></li>
          <li><img src="/images/checkmark.svg" class="wow animated" alt="Link account and widthdrawl"><p>Data encryption to make sure your information stays safe and secure</p></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="contact-village-container">
  <div class="text-block">
    <h2>Ready to start saving for your child’s future?</h2>
    <p>We are currently in development which means the platform is not live yet. But if you add your email here, we will keep you updated on progress and let you know as soon as we launch. We may also reach for feedback on our product.</p>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="//medium.us14.list-manage.com/subscribe/post?u=ae4a24021dd5369a71ac05a9f&amp;id=6d99d1534d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-group validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">

    <div class="mc-field-group">
      <input type="email" value="" placeholder="Email address" name="EMAIL" class="required email form-control" id="mce-EMAIL">
    </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ae4a24021dd5369a71ac05a9f_6d99d1534d" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Start Saving" name="subscribe" id="mc-embedded-subscribe" class="button-primary"></div>
        </div>
    </form>
    </div>
  </div>
</section>
