---
title: Village
---

<header class="about-header page-header">
  <div class="header-village-container">
    <div class="header-text">
      <div class="app-shots">
        <img src="/images/phone.png" alt="" class="phone">
        <img src="/images/tablet.png" alt="" class="tablet">
      </div>
      <div class="text-block">
        <h1>Saving for your child’s future takes a village</h1>
        <div class="call-to-action">
          <a href="#contact" class="button-primary scroll-link">Start Saving</a>
          <a href="#about" class="button-secondary scroll-link">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="about" class="about-village-container">
  <div class="text-block">
    <p>Saving for the future is stressful. And it’s not just college. It’s sports leagues, dance classes, that first car, vacations. The list goes on. Village allows your family and friends to support these savings goals by gifting towards these experiences for your children.</p>
  </div>
</section>

<section id="why" class="why-village-container">
  <div class="about-block">
    <img src="/images/experiences.svg" alt="">
    <h3>Afford experiences</h3>
    <p>Museum memberships. Sports Leagues. Classes. Vacations. These are the things your kids will remember and cherish. But they are expensive. Village finally helps you afford those experiences, but allowing your friends and family to contribute.</p>
  </div>
  <div class="about-block">
    <img src="/images/reduce-clutter.svg" alt="">
    <h3>Reduce clutter</h3>
    <p>Did you know the average 10-year-old has 238 toys, but plays with just 12 of them daily? Most of these toys are collected as gifts from birthday parties. Village offers an alternative gift option to help reduce clutter and waste.</p>
  </div>
  <div class="about-block">
    <img src="/images/habits.svg" alt="">
    <h3>Teach good habits</h3>
    <p>Nearly half of Americans do not save any money and do not feel prepared for the unexpected. These habits will not change, and will pass on to the next generation, unless we take action today. Village offers content and games to help parents and kids learn financial responsibility, together. <span>Coming soon</span></p>
  </div>
</section>

<section id="how-it-works" class="how-it-works-village-wrapper">
  <div class="how-village-container">
    <div class="section-header">
      <h2>So how does it work?</h2>
      <p>Create goals, link your investment account, and start collecting.</p>
    </div>
    <div class="how-block">
      <img src="/images/goals.svg" class="wow animated" alt="Create different goals">
      <div class="text-block">
        <h3>Short term and long term goals</h3>
        <p>There are all sorts of expenses and experiences you want to save for. From the art class your child wants to take this summer, to that day when you hand your child the keys to their first car. We know all goals are not created equal, so we support dreams both big and small.</p>
      </div>
    </div>
    <div class="how-block">
      <img src="/images/invest.svg" class="wow animated" alt="Invest funds">
      <div class="text-block">
        <h3>Link your investment account</h3>
        <p>We currently support direct gift deposits to your Fidelity and Vanguard investment accounts. We believe that gifts should grow over time, and we can help with setting up your investments with your child’s best interest in mind.</p>
      </div>
    </div>
    <div class="how-block">
      <img src="/images/collecting.svg" class="wow animated" alt="Collect for experiences">
      <div class="text-block">
        <h3>Start collecting</h3>
        <p>Letting your family and friends know how they can help can be awkward. By letting them see your savings goals, and allowing to them add directly towards those, Village helps you avoid those uncomfortable conversations. You will be a given your own URL, which you can include on invitations, to share with friends and family.</p>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="contact-village-container">
  <div class="text-block">
    <h2>Ready to start saving for your child’s future?</h2>
    <p>We are currently in development which means the platform is not live yet. But if you add your email here, we will keep you updated on progress and let you know as soon as we launch. We may also reach for feedback on our product.</p>
    <form method="post" accept-charset="UTF-8" action="http://www.formfor.com/submissions/Z4g5W7aYRsFz2Ei2GqiWnsL7" target="_blank" class="form-group">
      <input type="email" id= "email" name="email" placeholder="Email address" required class="form-control email" oninput="checkValidEmail()">
      <input type="submit" id ="submit" name="commit" value="Start Saving" disabled class="button-primary">
    </form>
  </div>
</section>
